@inherits LayoutComponentBase

<PageTitle>EmployeeManagementApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="mt-5">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
